*{
	font:normal 11px verdana;
}

body{
	margin: 0px;
	background-color:#FFF;
}

form {
	margin:0px;
	padding:0px;
}

#header{
	position:relative;
	text-align:center;
	width:100%;
	height:100px;
	/*background: url("http://localhost/logicamente/system/html/images/bgLogo.jpg");*/
	background: url("../../system/html/images/bgLogo.jpg");
}

#menu{
	margin-top:10px;
	margin-left:20px;
}

#menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
	height: 22px;
}

#menu li{
	margin-left:5px;
	margin-bottom:0px;
	cursor:pointer;
	float:left;
}

#content{
	border:1px solid #999999;
	padding: 5px;
/*	margin-top:5px;*/
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
/*	background:#FAFAFA; */
}

#content p{
	padding-left:10px;
	padding-right:10px;
	text-indent:30px;
	text-align:justify;
}

#content strong{
	font-weight:bold;
}

#fieldsetTransfer {
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
}

#fieldsetSettings {
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
}

#footer{
	background:#EFEFEF;
	border: 1px solid #DDDDDD;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:10px;
	text-align:center;
	font-size:10pt;
}

#helpBorder {
	width:70%;
	height:70%;
	top:15%;
	left:15%;
	background-color:#000000;
	position:absolute;
	margin:auto;
	padding:10px;
	color:#FFFFFF;
	display:none;
	opacity:0;
}

#helpContent {
	height:100%;
	width:100%;
	overflow:auto;
}

#helpContent h1 {
	font-size:24px;
	text-align:center;
	font-weight: bold;
}

#helpContent p {
	text-indent:3em;
	text-align:justify;
}

#helpContent strong {
	font-weight:bold;
	color:yellow;
}

#helpContent em {
	font-style:italic;
	color:yellow;
}

#blackground {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	height:100%;
	width:100%;
	margin:0px;
	background-color:#000000;
	opacity:0;
}

#transfer div.selected {
	border:1px dashed #BBBBBB;
	background-color:#EEEEEE;
}

#transfer div {
	cursor:pointer;
	border:1px solid #FFFFFF;
	margin-bottom: 1px;
}
#cont {
	display:none;
}


/* CSS Document */
/*
body{
	background:#FFFF99;
}
*/

#connectives div{
/*	border:1px #666 solid; */

}

#divBack{
	text-align:center;
}

#divGo{
	text-align:center;
}

#newConnective{
	display:none;
}

#btnAddConnective{
	clear:both;
}

.left{
	float:left;
}

.right{
	float:left;
}

#btBack{
	margin-top:50px;
	margin-right:0px;
	margin-left:-15px;
	padding:0px;
}

#btGo{
	margin-top:50px;
	margin-right:3px;
	margin-left:2px;
}

.xT {
	font-family: Verdana;	
	font-size: 11px;	
	font-style: normal;	
	color: #000000;	
	background-color: #FFFFFF;	
	border: 1px solid #666666; 
}

.btns {
	font-family: Verdana;	
	font-size: 11px;	
	font-style: normal;	
	color: #000000;	
	background-color: #CCCCCC;	
	border: 1.8px solid #000000; 
}

.xTB {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #666666;
}

button {
	/*background: url("http://localhost/logicamente/system/html/images/bgBtn.jpg");*/
	background: url("../../system/html/images/bgBtn.jpg");
	border:1px solid #BBBBBB;
}

#content fieldset {
	border:1px solid #CCCCCC;
}

.field-widget {
	padding-top:5px;
}

#truthTable {
	background-color: #BBBBBB;
	border-spacing: 1px;
}

#truthTable td.title {
	/*background: url("http://localhost/logicamente/system/html/images/bgBtn.jpg");*/
	background: url("../../system/html/images/bgBtn.jpg");
}

#truthTable td {
	padding: 3px;
	background-color: #FFFFFF;
}
